*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json
spotify_key.xml
nyt-key.xml
weather_key.xml
news-key.xml
